
html {
    background-color: #f2f2f2;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    border: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;

}

header a,
main a,
footer a {
    text-decoration: none;
    color: #000000;
}
.sed-logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
input[type='checkbox'] {
    display: none;
}
.checkmark::before {
    content: "";
    display: block;
    position: relative;
    width: 21px;
    height: 21px;
    border: 2px solid white; 
    border-radius: 5px;
     
}
input[checked]  .checkmark::before {
    content: "";
    display: block;
    position: relative;
    width: 21px;
    height: 21px;
    border: 2px solid white; 
    border-radius: 5px;
    background-image: url(../img/checkbox-on.png); 
}
.main-navigation ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.main-navigation li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 239px;
    padding: 15px 0px;
    margin: 0px;
}

.main-navigation li:nth-of-type(1) {
    padding-left: 9px;
}

.main-navigation li:nth-of-type(2) {
    padding-left: 12px;
}

.main-navigation li:nth-of-type(3) {
    width: 244px;
}

.main-navigation li:nth-of-type(4) {
    padding-left: 9px;
}

.main-navigation li:nth-of-type(5) {
    padding-left: 18px;
}

.main-navigation a {
    display: block;
    width: 219px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #b3b3b3;
}

.welcome {
    background-color: #dfebf4;
    background-image: url(../img/bg-index.jpg);
    background-position: 0 -56px;
    background-size: auto;
    position: relative;
    padding-bottom: 64px;
}

.welcome::before {
    content: url('../img/layer-9.png');
    position: absolute;
    top: 134px;
    margin-left: 472px;
}

.welcome:after{
    content: '';
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../img/mask.png');
}
.welcome p {
    text-align: center;
    margin: 0px;
}

.welcome p:nth-of-type(1) {
    margin-top: 0px;
}


.welcome-line {
    padding-top: 76px;
    padding-bottom: 0px;
}

.gorgeous-line {
    padding-top: 9px;
}

.sedona-line {
    padding-top: 49px;
}

.sucks-line {
    padding-top: 53px;
    padding-bottom: 13px;
}

.reasons {
    text-align: center;
    margin: 0px;
}

.reasons p {
    width: 492px;
    margin: 0px auto;
}

.reasons p:nth-child(2n) {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    padding-top: 58px;
}

.reasons p:nth-child(3n) {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    padding-top: 26px;
    padding-bottom: 52px;
}


.advantage {
    text-transform: uppercase;
}
.advantage-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantage-item {
  width: 30%;
  flex-grow: 1;   
}
.advantage-item-main {
    width: 100%;
    display: flex;
    height: 256px;
}
.advantage-item_small {
    padding: 55px 70px 88px; 
    text-align: center;  
}
.advantage-item_info {
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    width: 33%;
    padding: 50px;
}
.advantage-item-title {
    max-width: 60%;
    line-height: 1.1;
    font-weight: 400;
    font-size: 24px;
    margin: 0px auto 20px auto;
}
h4.advantage-item-title {
     margin: 20px auto 20px auto;
}
.advantage-item-num {
    font-size: 16px;
}
.advantage-item-desc {
    font-size: 16px;
}
.advantage-item_img {
    flex-grow: 1;
}
.advantage-item_img img{
    width: 100%;
    max-height: 100%;
}
.advantage-item_small_background {
    background-color: #eeeeee;
}


.select-feature {
  width: 100%;
  height: 218px;
    color: #fff;
}
.select-feature-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 73px;
}
.select-feature-flex>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.house-wrapper, .structure-wrapper {
    width: 239px;
}
.range-wrapper {
    position: relative;
    margin-left: 333px;
    padding-top: 26px;
}
.select-feature-flex:nth-child(3) {
    margin-right: 345px;
}
.select-feature_house {
    display: flex;
    flex-direction: column;
}

.background-feature {
    background-image: url('../img/filter-background.png');
    width: 100%;
    background-position: center;
}
.sort{
    padding: 30px 73px;
    border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
}
.sort-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.sort-form ul {
    display: flex;
    align-items: center;
}
.results-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    margin-right: 50px;
}
.sorting{
    margin-right: 40px;
}
.sort-params li {
    margin-right: 33px;
}
.params-btn{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0,0,0,.3);
    cursor: pointer;
    display: block;
    border: none;
    text-transform: uppercase;
}
.params-btn.active{
    color: #81b3d2;
}
.order{
    margin-left: auto;
}
.pict-up-down {
    display: flex;
    justify-content: flex-start;
}
.result-item {
    display: flex;
    padding: 30px 73px;
    border-bottom: 1px solid #e5e5e5;
}

.result-item-rating {
    margin-left: auto;
}
.result-item-rating {
    align-items: flex-end;
}
.result-item__img {
    margin-right: 30px;
}

.result-item-info, .result-item-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.result-item_title {
    font-size: 21px;
    line-height: 1.24;
    margin: 0 0 10px;
    color: #000; 
}
.result-item_title:active {
    color: rgba(0, 0, 0, 0.3);
}
.result-item_title:hover, .result-item_title:focus {
    color: #81b3d2;
}
.result-info-row {
    margin: 0;
}
.result-info-text {
    font-size: 14px;
    color: #333333;
    font-weight: 300;
    text-transform: uppercase;
}
.result-btn {
display: inline-block;
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 14px;
   height: 27px;
   line-height: 27px;
   text-align: center;
   padding: 0 16px;
}

.result-more{
    background-color: #81b3d2;
    margin-right: 6px;
}
.result-more:hover, .result-more:focus {
   background-color: #669ec0;;
}
.result-more:active {
    background-color: #5496bd;
}
.result-book{
    background-color: #766357;
}
.result-book:hover, .result-book:focus {
    background-color: #604e43;
}

.result-book:active {
    background-color: #503e33;
}

.result-item_type{
    margin-right: 38px;
}
.result-stars {
    margin: 0px;
}
.result-rating-value{
    display: inline-block;
   color: #666666;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 14px;
   height: 27px;
   line-height: 27px;
   text-align: center;
   padding: 0 16px;
   background-color: #f2f2f2;
}
/*Футер страницы */
.footer-elements, .social-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-button_back {
    width: 48px;
    height: 46px;
    background-color: #81b3d2;
    margin: 3px;
    background-position: 50% 50%; 
}

.social-button_back img {
    
    background-color: #81b3d2;
    background-origin: padding-box;
    margin: 3px;
}

/*_________________________________________*/
.reservation {
    text-align: center;
    padding-top: 48px;
}

.reservation b {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.reservation p {
    width: 435px;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.reservation-button {
    margin-top: 47px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    width: 568px;
    height: 86px;
    background-color: #766357;
    border: 0px solid white;
}

.reservation-button:hover,
.reservation-button:focus {
    background-color: #604e43;
}

.reservation-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
#map {
  height: 594px;  
  width: 100%;  /* The width is the width of the web page */
 }
.block-advantage {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    flex-direction: row;
    justify-content: space-around;

}
.block-advantage li p {
    background-color: #81b3d2;
    width: 256px;
    height: 256px;
}
ul li em {
    width: 256px;
    height: 256px;
}

.reservation-form {
    display: none;
}


footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.footer-hotels a {
    height: 48px;
}

.footer-copyright {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-left: 102px;
    padding-right: 98px;
    width: 400px;
}

.website {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    display: block;
    margin-top: 47px;
    margin-right: 8px;
}

.footer-copyright a {
    width: 115px;
    margin: 0px;
    padding: 0px;
    margin-top: 38px;
    margin-bottom: 40px;
    background-image: url(../img/logo-name.png);
    background-repeat: no-repeat;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    background-image: url(../img/logo-name-hover.png);
}

.footer-copyright a:active {
    background-image: url(../img/logo-name-active.png);
}

.footer-copyright img {
    display: block;
    margin-right: 101px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 36px 0 0;
}
.social li {
    width: 46px;
    height: 48px;
    margin-right: 6px;
    text-align: center;
    background-color: #81b3d2;
    display: inline-block;
    vertical-align: middle;
}
.social li:last-child {
    margin: 0;
}
.social a {
    display: flex;
    height: 48px;
}

.tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
}

.sedona-tag {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    margin-top: 46px;
    margin-bottom: 48px;
    text-align: center;
}